
.feed_center {
    display: flex;
   margin-top: 20px;                            
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 52%;
    margin-left: 200px;
    height: 250px;
  }
  
  .feed_top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
  }
  .photo{
    margin-top: 10px;
  }
  
  
  .feed_top  input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    margin-left: 50px;
    width: 220%;
    height: 50px;

    /* border-radius: 999px; */
    /* background-color: #eff2f5; */
  }
  
 
  
 
  
  .feed__bottom {
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .feed__options {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    margin: 5px;
  }
  
  .feed__options > h3 {
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .feed__options:hover {
    background-color: #eff2f5;
    border-radius: 20px;
  }

  .pop_top{
    background-color:  #eff2f5;
    margin-top: -10px;
  }
  .pop_top button{
    padding-right: 169px;
    height: 30px;
  }
  .pop_down{
    margin-top: 10px;
    /* background-color: #eff2f5; */
 
    
  }
  .pop_down button{
    margin-left: 10px;
  }
  .down{
    margin-left: 610px;
    display: flex;
  }
.map{
    display: flex;
    margin-top: 50px;                            
     flex-direction: column;
     background-color: white;
     border-radius: 15px;
     box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
     width: 100%;
    
     /* height: 200px; */
}
.map_dis{
    display: flex;
    height: 100px;
    margin-left: 20px;
    gap: 50px;
    margin-top: 10px;
}
.map_bottom{
    background-color:  #eff2f5;
    margin-top: -10px;
}
.map_bottom button{
    padding-right: 156px;
    margin-left: 30px;
    border: 0px;
    outline: 0;
  }
  .gif_search{
    display: flex;
    position: sticky;
  margin-top: 20px;
  }
  .gif_search input{
    border: 0px;
    outline: 0;
    margin-top: 5px;
   border-radius: 10px;
    background-color: whitesmoke;
    padding: 0px 4px 10px 20px;
   height: 20px;
   position: sticky;
  }
  .gif_search button{
    height: 20px;
   position: sticky;
   border: 0px;
   outline: 0;
   margin-top: 8px;
   height: 30px;
   border-radius: 10px;
  }
  .post button{
    background-color: blue;
    color: white;
    font-weight: bold;
  }
  .item{
   
    
    
  

 height: 200px;
    width: 320px

  }
 

.item img{
  width: 300px;
  height: 200px;
  
}
.cont{
  width: 350px;
  margin-left: 60px;
  position: sticky;
}