.header{
    display: flex;
    padding: 5px 10px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
    justify-content: space-between;
    box-shadow: 0px 0px 3px #ccc;
}
.header_left{
display: flex;
align-items: center;

border-radius: 20px;
padding: 15px 10px;
height: 40px;

}

.header_left img{
height: 50px;

}
.search{
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 20px;
   
   
}
.search input{
    margin-top: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    margin-left: 15px;
}
.header_mid{
    margin-top: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
 
    

}
.option{

margin-right: 40px;
 
}
.header_right{
display: flex;
align-items: center;
margin-right: 20px;
}
.info{
    display: flex;
align-items: center;
}
